.people-input-container{
    border: 1px solid #777575;
    border-radius: 5px;
    padding: .5em;
    width: min(80vw, 400px);
    margin-top: 1em;
}

.people-items{
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
    margin-right: 2px;
    align-items: center;
}

.people-items .close{
    height: 20px;
    width: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.people-input{
    border: none;
}

.icon{
    align-items: end;
}

.price-items{
    align-items: end;
}

.itens{
    margin: 15px;
}
