button{
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: rgb(36, 163, 36);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
  }
  
  button:hover{
    border: 1px solid #000;
  }