* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #080f0d;
  --light: #E6E6E6;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: auto;
  background-color: var(--light);
}

.LineChartComponent {
  padding: 5%;
  width: 90%;
  height: 80%;
  background-color: var(--light);
}

@media screen and (max-width: 1350px) {
  .container {
    display: flex;
    padding: auto;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--light);
  }
}

.DonutChartComponent {
  padding: 1%;
  width: 60%;
  height: 60%;
  background-color: var(--light);
}
