:root {
  --dark: #080f0d;
  --light: #dcdcdc;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: auto;
  background-color: var(--light);
}

.LineChartComponent {
  padding: 5%;
  width: 90%;
  height: 80%;
  background-color: var(--light);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    background-color: var(--light);
  }
}

.DonutChartComponent {
  width: 60%;
  height: 60%;
  background-color: var(--light);
}
