.DonutChartContainer {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    border-radius: 5%;
    box-shadow:  6px 6px 12px #aeaeae,
             -6px -6px 12px #f0f0f0;

    position: relative;
}

@media screen and (max-width: 1000px) {
    .DonutChartContainer {
        height: 50%;
        width: 60%;
        display: flex;
        justify-content: center;
        padding: 3% 2% 4%;
    }
}

.DonutChartComponent {
    /* display: flex;  nao temos controle sobre isto */
    /* flex-direction: column;
    align-items: end; */

    align-self: center;
    top: 10%;
    position: absolute;
    
    /* border: solid 1px red; */
}

.chart-title-container {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    /* flex-direction: row; */

    /* border: 1px solid red; */
}

.chart-title {
    /* position: absolute; */
    /* left: 0;
    margin: 4%; */
    /* letter-spacing: 0.05em; */

    font-family: 'Inter', 'Manrope', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 1.3rem;
    /* line-height: 35px; */

    color: var(--60-background-dark);

    /* border: 2px solid greenyellow; */
}

.month-year-input-container {
    height: 100%;
    width: 40%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    
    /* border: 1px solid blue; */
}

.month-input, .year-input {
    /* margin: 0 -15%; */
    width: 40%;
    
    background-color: var(--dark-gray);
    color: var(--60-background-dark);
    border: none;
}

.month-input:hover, .year-input:hover {
    cursor: pointer;
}
