.DonutChartContainer {
    height: 65%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: bottom; */
    padding: 2%;

    border-radius: 5%;
    box-shadow:  28px 28px 39px #aeaeae,
             -28px -28px 39px #f0f0f0;

}

@media screen and (max-width: 1000px) {
    .DonutChartContainer {
        height: 65%;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 3% 2% 4%;
        margin: 4%;
    }

    /* alterar os outros tbm */
}

.DonutChartComponent {
    border: solid 1px red;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-year-input-container {
    height: 35%;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    align-items: center;
    
    border: 1px solid red;
    justify-content: space-evenly;
    /* color: white; */
}

.month-input, .year-input {
    margin: 0 -15%;
    width: 17%;
    /* background-color: black; */
    border: 1px solid black;
}