.BarChartContainer {
    height: 100%;
    width: 50%;

    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    
    padding: 1% 2% 0%;
    position: relative;
    
    border-radius: 5%;
    box-shadow:  6px 6px 12px #aeaeae,
    -6px -6px 12px #f0f0f0;

}

@media screen and (max-width: 1000px) {
    .BarChartContainer {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        /* padding: 3% 2% 4%; */
    }
}

.period-input {
    height: 10%;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 2.5%;
    
    justify-content: space-around;
    
    /* border: 1px solid red; */
    /* color: white; */
}

.input {
    margin: 0 -15%;
    width: 17%;
    
    background-color: var(--dark-gray);
    color: var(--60-background-dark);
    border: none;
}

.input:hover {
    cursor: pointer;
}

@media screen and (min-width: 1400px) {
    .BarChartContainer canvas {
        max-height: 87%;
    }    
}