div.show-hide-password{

    display: flex;
    flex-direction: row;
  
    gap: 10px; 
    
  }
  
  div.show-hide-password span{
  
      color: #000;
      margin-left: 0px;
  
  }
  
  div.show-hide-password input{
  
    width: 15px;
    height: 15px;
  
  }