form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    justify-content: center;
    align-items: center;
    
    height: 100vh;
  }
  
  label{
    font-weight: bold;
  }
  
  input{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
  
    width: 300px;
  
    font-weight: bold;
    color: #000;
  
    justify-content: center;
    align-items: center;
  }
  
  
  span{
    display: block;
    color: red;
  }
  
  button{
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: rgb(36, 163, 36);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
  }
  
  button:hover{
    border: 1px solid #000;
  }
  
  button.eye{
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
  }
  
  
  @media (max-width: 768px) {
    form {
      height: auto;
      width: 100%;
      padding: 20px;
    }
  }