form {
    gap: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

label {
    font-weight: bold;
}

span.error {
    color: red;
    display: block;
    font-size: 12px;
}

@media (max-width: 768px) {
    form {
        height: auto;
        width: 100%;
        padding: 20px;
    }
}
