@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --60-background-dark: #1B2727;
    --30-dark-green: #3C5149;
    --10-green: #6F9951;
    --10-gray: #D5DDDF;
    
    --10-gray-transparent: rgba(213, 221, 223, 0.8);
    --10-gray-transparent-2: rgba(213, 221, 223, 0.2);
    --dark-gray: #8c939439;

    /* --10-cian: #00fffe; usa essa não, mt artificial */
}

.body {
    width: calc(100% - 15%);
    float: right;
    background-color: var(--60-background-dark);
}

header.home {
    padding: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: #005555; var(--30-dark-green) */
    width: 100%;
    height: 12vh;
    position: relative;
}

.bt-sb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.page-title {
    position: absolute;
    left: 0;
    margin: 4%;
    letter-spacing: 0.05em;

    font-family: 'Inter', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.85rem;
    line-height: 35px;

    color: var(--10-gray);
}

.container-logo-username {
    height: 15%;
    width: 100%;
    left: 0px;
    top: 24px;
    
    gap: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 
.guma-logo {
    max-width: 25%;
    height: auto;
    position: relative;
    margin-right: 3%;
    margin-left: 4.5%;
}

.presentation {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    align-items: center;
    position: relative;

    font-family: 'Inter', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 35px;

    color: var(--10-gray);
}

.subtitle-sidebar {
    font-family: 'Inter', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.15em;

    width: 100%;
    height: 2%;

    color: var(--10-gray-transparent);
    justify-content: left;
    padding: 0px;
    padding-left: 2%;
    margin: 2% 0 0 0;

    /* colocar espaçamento entre as letras */
}

.grupos {
    margin-top: 10%;
}

.flex {
    gap: 5px;
    width: 3px;
    height: 45px;
    display: flex;
    margin-left: 20px;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    transition: background-color 0.3s ease;
}

/* .flex:hover {
    background-color: #ddd;
} */

.sidebar {
    width: 15%;
    height: 100%;
    float: left;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0; /* Stay in left */
    top: 0;

    overflow-x: hidden; /* Disable horizontal scroll (??) */
    
    padding: 1%;
    display: flex; 
    flex-direction: column;
    gap: 10px; /* Adicionar espaçamento entre itens */
    align-items: center;
    
    font-family: 'Inter', 'Manrope', sans-serif;
    letter-spacing: 0.06em;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--30-dark-green);
    color: var(--10-gray);
    transition: width 0.3s ease;
}

.sidebar-item {
    padding: 10px;
}

.sidebar-item .icon {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar-item .label {
    font-size: 16px;
}


.sidebar div.flex {
    width: 100%;
    height: 45px;
    padding: 5%;
    margin: 0%;

    gap: 5%;
    border-radius: 12px;

    font-family: 'Inter', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    /* line-height: 35px; */
    /* letter-spacing: 0.1rem; */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /* border: solid 1px red; */
}

.sidebar div.flex:hover {
    color: #ffff;
    background-color: #1b272775;
    cursor: pointer;
    transition: background-color 0.9s ease;
    transition: color 0.3s ease;
}

.logout {
    /* fixadar ao bottom */
    position: absolute;
    width: 100%;
    bottom: 2%;
}

@media screen and (max-width: 1224px) {
    .container-logo-username {
        max-height: 20%;
        width: 100%;
        left: 0px;
        top: 0;
        padding: 0px;
        margin-bottom: 30%;

        display: flex;
        flex-direction: column;
        /* border: solid 1px red; */
        position: relative;
    }
    
    .guma-logo {
        max-width: 40%;
        height: auto;
        
        position: absolute;
        margin-right: 0 auto;
        padding: 0px;
        top: 0;
    }
    
    .presentation {
        /* flex: 1; */
        display: flex;
        flex-direction: row;
        position: absolute;
    
        font-family: 'Inter', 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 30px;
        text-align: center;

        left: center;
        bottom: -24%;
    
        color: var(--10-gray);
    }

    .sidebar div.flex {
        font-size: 1rem;
    }

    .subtitle-sidebar {
        font-size: 0.7rem;
    }
}

@media screen and (max-height: 780px) {
    .container-logo-username {
        height: 15%;
        width: 100%;
        left: 0px;
        top: 24px;
        margin-bottom: 7%;
        
        gap: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
     
    .guma-logo {
        max-width: 25%;
        height: auto;
        position: relative;
        margin-right: 3%;
        margin-left: 4.5%;
    }
    
    .presentation {
        flex: 1;
        display: flex;
        flex-direction: row;
        /* gap: 10px; */
        align-items: center;
        position: relative;
    
        font-family: 'Inter', 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 30px;
    
        color: var(--10-gray);
    }
    
    .sidebar div.flex {
        width: 100%;
        height: 6%;
        padding: 5%;
    
        gap: 5%;
        display: flex;
        margin: 0.4%;
        border-radius: 12px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
