form{
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: center;
  
  height: 100vh;

  width: 100vw;
}

span.error{
  display: block;
  color: red;
  font-size: 12px;
}

@media (max-width: 768px) {
  form {
    height: auto;
    width: 100%;
    padding: 20px;
  }
}
