header.home {
    padding: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.bt-sb{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
}

.sidebar{
    height: 100%;
    width: 215px;
    background-color: aqua;
}

.sidebar-list{
    height: auto;
    width: 100%;
    padding: 0;
}

.sidebar-list .row{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.tags-input-container{
    border: 1px solid rgb(197, 197, 197);
    padding: .5em;
    border-radius: 5px;
    width: min(80vw, 400px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}


.tags-items{
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.tags-items .close{
    height: 20px;
    width: 20px;
    background-color: rgba(48, 48, 48);
    display: inline-block;
    color: #fff;
    border-radius: 50%;
 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
} 

.tags-input{
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

