header.home {
    padding: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.bt-sb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.modal_header {
    background-color: teal;
}

.tags-input-container {
    border: 1px solid rgb(197, 197, 197);
    padding: .5em;
    border-radius: 5px;
    width: min(80vw, 400px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.tags-items {
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.tags-items .close {
    height: 20px;
    width: 20px;
    background-color: rgba(48, 48, 48);
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
}

.tags-input {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}

.create-tag {
    margin-top: 5px;
}

.create-tag input {
    border: 1px solid gray;
    outline: none;
}

span.error-message {
    color: red;
}

.gasto {
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 200px;
}

.gasto_information {
    margin-top: 15px;
    padding: 20px;
    border: 0.5px solid;
    border-radius: 5px;
    width: 30%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h2.green {
    color: green;
}

h2.red {
    color: red;
}

.gasto_information h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.gasto_information h2 {
    font-size: 18px;
    margin-bottom: px;
}

.gasto_information .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.gasto_information .header div {
    display: flex;
    align-items: center;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 175px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80; /* Stay at the top */
    left: 0;
    background-color: #9cbddd; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sidenav div.flex {
    width: 100%;
    padding: 5px;
}

.sidenav div.flex:hover {
    background-color: #7a9ebd;
    cursor: pointer;
}
