.GraficosPage {
  height: 100vh; /* remover em algum momento (talvez) */
  width: calc(100% - 14.5%);
  padding: 5% 10%;
  
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  float: right;
  
  /* background-color: var(--10-gray); */
  /* border: 1px solid red; */
}


@media screen and (max-width: 1000px) {
  .GraficosPage {
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

