* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light);
}

:root {
  --dark: #080f0d;
  --light: #dedede;
}

.GraficosPage {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 5% 10%;

  border: 1px solid red;
}


@media screen and (max-width: 1000px) {
  .GraficosPage {
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

